{
    "db_path": "/home/[USER]/Pictures/digikam4.db",
    "base_dir": "/path/to/your/photos/folder/in/digikam",
    "tag_name": "backgrounds",
    "symlink_dir": "/home/[USER]/Pictures/backgrounds/"
}